@{
    ViewBag.Title = "Библиотека";
}

<div>
    <h3><p align="center"><b>Библиотека</b></h3>
    

    <table>
        <tr>
            <td><p>Назвыание</p></td>
            <td><p><blockquote>Автор</blockquote></p></td>
            <td><p>Жанр</p></td>
            <td></td>
        </tr>


        @foreach (var books in ViewBag.Books)
        {
            <tr>
                <td><p>@books.BookId</p></td>
                <td><p><blockquote> @books.Author</blockquote></p></td>
                <td><p> @books.Genre</p></td>
                <td><p><a href="/Home/Reserve/@books.BookId">Зарезервировать</a></p></td>
            </tr>
        }

    </table>
</div>